<footer class="footer">
  <div class="footer__column">
    <h5 class="footer__column-title">Alpha</h5>
    <ul class="footer__column-list">
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Alpha one">Alpha one</a>
      </li>
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Alpha two">Alpha two</a>
      </li>
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Alpha three">Alpha three</a>
      </li>
    </ul>
  </div>
  <div class="footer__column">
    <h5 class="footer__column-title">Bravo</h5>
    <ul class="footer__column-list">
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Bravo one">Bravo one</a>
      </li>
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Bravo two">Bravo two</a>
      </li>
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Bravo three">Bravo three</a>
      </li>
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Bravo four">Bravo four</a>
      </li>
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Bravo five">Bravo five</a>
      </li>
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Bravo six">Bravo six</a>
      </li>
    </ul>
  </div>
  <div class="footer__column">
    <h5 class="footer__column-title">Charlie</h5>
    <ul class="footer__column-list">
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Charlie one">Charlie one</a>
      </li>
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Charlie two">Charlie two</a>
      </li>
    </ul>
  </div>
  <div class="footer__column">
    <h5 class="footer__column-title">Delta</h5>
    <ul class="footer__column-list">
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Delta one">Delta one</a>
      </li>
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Delta two">Delta two</a>
      </li>
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Delta three">Delta three</a>
      </li>
      <li class="footer__column-list-item">
        <a class="footer__column-list-link" href="#" title="Delta four">Delta four</a>
      </li>
    </ul>
  </div>
</footer>
