<header class="header">
  <div class="header__logo">
    <img class="header__logo-image" alt="Politico LLC" src="/img/logo-politico.png">
  </div>
  <ul class="header__navigation">
    <li class="header__navigation-item">
      <a class="header__navigation-link" href="#">Navigation one</a>
    </li>
    <li class="header__navigation-item">
      <a class="header__navigation-link" href="#">Navigation two</a>
    </li>
    <li class="header__navigation-item">
      <a class="header__navigation-link" href="#">Navigation three</a>
    </li>
    <li class="header__navigation-item">
      <a class="header__navigation-link" href="#">Navigation four</a>
    </li>
    <li class="header__navigation-item">
      <a class="header__navigation-link" href="#">Navigation five</a>
    </li>
    <li class="header__navigation-item">
      <a class="header__navigation-link" href="#">Navigation six</a>
    </li>
  </ul>
</header>
