<div class="main-promo">
  <div class="main-promo__image-wrapper">
    <img class="main-promo__image" alr="The stories behind NYC street names" src="/img/photo-city-main.jpg">
  </div>
  <div class="main-promo__text-wrapper">
    <h1 class="main-promo__headline">The stories behind NYC street names</h1>
    <h2 class="main-promo__subline">History of the biggest little island in America.</h2>
    <p class="main-promo__copy"><span>By Debbie Smith</span> | <span>04/23/16</span></p>
    <a class="main-promo__button" href="#">a button</a>
  </div>
</div>
