<div class="related-articles">
	<div class="related-articles__item">
    <a class="related-articles__item-image-wrapper" href="#">
      <img class="related-articles__item-image" src="/img/photo-cruz-main.jpg">
    </a>
    <a class="related-articles__item-title" href="#">
      Inside Cruz’s Crumbling Campaign
    </a>
    <p class="related-articles__item-description">
      He sold himself as trustworthy. Rivals made sure voters didn’t buy it.
    </p>
    <p class="related-articles__item-copy">
      By Shane Goldmacher and Katie Glueck
    </p>
  </div>
  <div class="related-articles__item">
    <a class="related-articles__item-image-wrapper" href="#">
      <img class="related-articles__item-image" src="/img/photo-carter-main.jpg">
    </a>
    <a class="related-articles__item-title" href="#">
      The Worst Way to Stop a Front-Runner
    </a>
    <p class="related-articles__item-description">
      What #NeverTrump can learn from ‘Anybody But Carter.’
    </p>
    <p class="related-articles__item-copy">
      By Josh Zeitz
    </p>
  </div>
  <div class="related-articles__item">
    <a class="related-articles__item-image-wrapper" href="#">
      <img class="related-articles__item-image" src="/img/photo-obama-main.jpg">
    </a>
    <a class="related-articles__item-title" href="#">
      The Selling of Obama
    </a>
    <p class="related-articles__item-description">
      The inside story of how a great communicator lost the narrative.
    </p>
    <p class="related-articles__item-copy">
      By MichaelGrunwald
    </p>
  </div>
  <div class="related-articles__item">
    <a class="related-articles__item-image-wrapper" href="#">
      <img class="related-articles__item-image" src="/img/photo-iran-main.jpg">
    </a>
    <a class="related-articles__item-title" href="#">
      Why America Needs Iran in Iraq
    </a>
    <p class="related-articles__item-description">
      The internecine fighting among Shias requires a deal with Tehran and Ayatollah Sistani.
    </p>
    <p class="related-articles__item-copy">
      By Zalmay Khalilzad
    </p>
  </div>
</div>
